<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/navigation.ejs') %>
<div class="container m-3 p-3 mx-auto bg-danger" style="border-radius: 4px;">
    <h1 class="text-light"><%= error %></h1>
</div>
<%- include('includes/end.ejs') %>